<launch>
  <param name="use_sim_time" value="true" />
  <arg name="lidar_points" default="/demo_model/velodyne_points" />
  <arg name="stdout" default="screen" />
  <include file="$(find velo2cam_calibration)/launch/stereo_pattern.launch">
    <arg name="camera_ns" value="vi_sensor" />
    <arg name="image_topic_name" value="image_raw" />
  </include>
  <include file="$(find velo2cam_calibration)/launch/laser_pattern.launch">
    <arg name="lidar_points" value="$(arg lidar_points)" />
  </include>

  <!--<node pkg="velo2cam_calibration" type="velo2cam_calibration" name="velo2cam_calibration" output="screen">
    <remap from="~cloud1" to="/laser_pattern/centers_cloud"/>
    <remap from="~cloud2" to="/stereo_pattern/centers_cloud"/>
    <remap from="~cloud3" to="$(arg lidar_points)"/>
    <param name="radius" value="0.12"/>
    <param name="centers_distance" value="0.3"/>
    <param name="sync_iterations" value="false"/>
  </node>  -->
</launch>
